@import "tailwindcss";
@plugin "daisyui";

body {
  background-color: white;
  color: black;
}

.marginAuto {
  margin: auto 0;
}

.hero {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.bg {
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
}

.bg-back {
  background-image: url("https://res.cloudinary.com/dwl1expbx/image/upload/v1770135112/img1_c8eugm.jpg");
  z-index: 1;
}

.bg-front {
  background-image: url("https://res.cloudinary.com/dwl1expbx/image/upload/v1770135112/img1_c8eugm.jpg");
  z-index: 2;
}

.hero h1 {
  /* position: relative; */
  z-index: 3;
  height: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 4rem;
  color: white;
}

.content {
  height: 100%;
}

/* Responsive example: styles for screens between 414px and 1120px */
@media screen and (min-width: 150px) and (max-width: 1120px) {
  .bg {
    position: absolute;
    inset: 0;
    background-size: cover;
    background-position: center;
  }

  .bg-back {
    background-image: url("https://res.cloudinary.com/dwl1expbx/image/upload/v1770135123/Lourdes_nf5pux.jpg");
    z-index: 1;
  }

  .bg-front {
    background-image: url("https://res.cloudinary.com/dwl1expbx/image/upload/v1770135123/Lourdes_nf5pux.jpg");
    z-index: 2;
  }

  .hero h1 {
    font-size: 3rem;
  }
}
