@import "tailwindcss";
@plugin "daisyui";

.hero {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.bg {
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
}

.bg-back {
  background-image: url("/img1.jpg");
  z-index: 1;
}

.bg-front {
  background-image: url("/img1.jpg");
  z-index: 2;
}

.hero h1 {
  position: relative;
  z-index: 3;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  color: white;
}

.content {
  height: 100%;
}
